body {
	font-size: 16px;
    color: #0f4c5c;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 100%;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 20px;
}

.cvButton:hover {
	text-decoration: none;
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(69,0,116,1) 0%, rgba(136,0,0,1) 52%, rgba(0,57,2,1) 100%);
}

.cvButton {
	color: #0f4c5c;
	text-decoration: none;
	background: #fff;
	padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid;
    border-radius: 2px;
}


#about a {
	text-decoration: none;
	margin-bottom: 20px;
}

.skillsSection,
.contactSection {
	background: linear-gradient(90deg, rgba(69,0,116,1) 0%, rgba(136,0,0,1) 52%, rgba(0,57,2,1) 100%);
	color: #fff;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}


.contactButton {
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover {
	text-decoration: none;
	color: #e74c3c;
	background-color: #fff;
}

.filter a {
	color: #0f4c5c;
	border: 1px solid #0f4c5c;
	padding: 10px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px
}

.filter .current {
	background-color: #9e0059;;
	border-color: #9e0059;
	color: #fff;
}

.filter {
	text-align: center;
	width: 97%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}


.items li img {
	width: 100%;
	-webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
}

.items .icons {
	position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
	color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
	width: 40px;
    height: 40px;
    background-color: #9e0059;
    position: relative;
    display: inline-block;


    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;

}

.items .imageOverlay {
	width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	float: left;
	left: -200px;
}

.items .projectLink {
	float: right;
	right: -200px;
}

.items .item:hover .openButton {
	left: 0px;
}

.items .item:hover .projectLink {
	right: 0px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
	padding: 0;
}

.copyrightSection {
	background: linear-gradient(90deg, rgba(69,0,116,1) 0%, rgba(136,0,0,1) 52%, rgba(0,57,2,1) 100%);
	color: #fff;
	padding: 30px 5px;
}

.copyrightSection p a {
	color: #fff;
	text-decoration: none;
}

.copyrightSection .page-footer a {
	color: #fff;
	text-decoration: none;
}

.copyrightSection .page-footer a:hover {
	text-decoration: none;
	color: #000;
}

#navigation {
	background: linear-gradient(90deg, rgba(69,0,116,1) 0%, rgba(136,0,0,1) 52%, rgba(0,57,2,1) 100%);
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar a {
	color: #fff;
	text-decoration: none;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loader1.gif) center center no-repeat;
}

.aboutMe {
	margin-top: 20px;
	text-align: justify;
}

@media only screen and (max-width: 560px) {
  /* For mobile phones: */
  	.titleMessage .heading .sub {
	margin-top: 80px;
	padding: 20px;
	}

	.filter {
	width: 90%;
	}

	.section {
	padding: 50px 0;
	}

}